body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerdiv{
  position: fixed;
  width: 100%;
  top:0;
  display:flex;
  border: 1px solid;
  padding: 0px;
  background-color:#fb9b9b;
  z-index: 99;
}
.headertitle{
  font-family: cursive;
  font-size: xxx-large;
  padding-left: 10%;
}
.footerdiv{
  /* position: fixed; */
  width: 100%;
  bottom:0;
  display:flex;
  border: 1px solid;
  padding: 0px;
  background-color:#fb9b9b;
}
.footertitle{
  font-family: cursive;
  font-size: x-large;
  left: 38%;
  position: relative;
}
.bodydiv{
  background-color: #9aa09f;
  position: relative;
  top: 133px;
}
.titlediv{
  flex:1;
}
.searchdiv{
  left: 35%;
}

.headerdiv input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 50%;
}

.headerdiv .searchdiv button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.headerdiv .searchdiv button:hover {
  background: #ccc;
}
.searchdiv{
  flex: 2;
  padding: 45px;
}

/* Movie Card */

div.card {
  margin: 15px;
  border: 2px solid rgb(26, 25, 25);
  float: left;
  width: 300px;
}
div.card:hover {
  border: 2px solid #777;
}
div.card img {
  width: 100%;
  height: 300px;
}
.card--title{
  padding-left: 5px;
}


/*
toggle styles copied and modified from
https://codepen.io/mallendeo/pen/eLIiG
by Mauricio Allende (https://mallendeo.com/)
 */
 /* .toggle-btn {
  display: inline-block;
  outline: 0;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.toggle-btn:focus::after,
.toggle-btn:active::after {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 0 rgba(0, 0, 0, 0.08),
    inset 0px 0px 0px 1.5px #9c9c9c;
}
.toggle-btn::after {
  left: 0;
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  border-radius: 2em;
  background: #fbfbfb;
  transition: all 0.3s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 0 rgba(0, 0, 0, 0.08);
}
.toggle-btn.toggle-btn-on::after {
  left: 50%;
}
.toggle-btn.toggle-btn-on {
  background: #86d993;
}
.toggle-btn.toggle-btn-on:active {
  box-shadow: none;
}
.toggle-btn.toggle-btn-on:active::after {
  margin-left: -0.8em;
}
.toggle-btn:active::after {
  padding-right: 0.8em;
}
.toggle-input {
  display: none;
} */